<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjCKVCKVODZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D62D8F5D1DA4EA9A0035926E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62D8F761DA4EA9A0035926E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62D8F811DA4EA9B0035926E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
