<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjCUITableViewSearchDZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D604539D1D78B35800259E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D60453B61D78B35800259E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D60453C11D78B35800259E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
