<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjCUIButtonsDZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D605D2ED1D3D03C400578932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D605D3061D3D03C400578932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D605D3111D3D03C400578932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
